.chat-container {
  position: absolute;
  width: 350px;
  border-radius: 15px;
  height: 479px;
  background: #9e9e9e;
  box-shadow: 4px 2px 7px 1px #9e9e9e;
  top: 190px;
  right: 87px;
  border: 0.7px solid #a0a0a0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
