.chat-container {
  position: absolute;
  width: 350px;
  border-radius: 15px;
  height: 479px;
  background: #9e9e9e;
  box-shadow: 4px 2px 7px 1px #9e9e9e;
  top: 190px;
  right: 87px;
  border: 0.7px solid #a0a0a0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.chat-container_header {
  display: flex;
  align-items: center;
  color: white;
  background: #3e55d2;
  padding-left: 17px;
  padding-right: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.chat-container_header img {
  border-radius: 50%;
}
.chat-container_header-status-dot {
  width: 10px;
  height: 10px;
  background: #2fac34;
  position: absolute;
  border-radius: 50%;
  border: 2px solid white;
  top: 34px;
  left: 44px;
}
.chat-container_header-text {
  margin-left: 13px;
}
.chat-container_header-title {
  letter-spacing: 0.5px;
  font-size: 20px;
  text-transform: capitalize;
}
.chat-container_header-p {
  margin-top: -4px;
  font-weight: 300;
  font-size: 15px;
  text-transform: capitalize;
}
.chat-container_body {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 342px;
  background: #e6e6e6;
}
.chat-container_body-messages-ul {
  max-height: 320px;
  overflow-y: overlay;
  display: flex;
  flex-direction: column;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 15px;
  padding-right: 15px;
}
.chat-container_body-message {
  width: max-content;
  max-width: 183px;
  margin-bottom: 1px;
  margin-top: 1px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 13px;
  font-size: 15px;
  text-align: left;
  line-height: 18px;
  font-weight: 400;
}
.sender-him {
  background: white;
  align-self: flex-start;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
.sender-me {
  color: white;
  background: #3e55d2;
  align-self: flex-end;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.chat-container_send {
  display: flex;
  height: 74px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.chat-container_send textarea {
  border: none;
  font-size: 16px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 90px;
  height: 60px;
  width: 330px;
  resize: none;
  letter-spacing: -1px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.chat-container_send-buttons {
  position: absolute;
  bottom: 40px;
  right: 13px;
}
